In [170]:
#Import the required libraries
import numpy as np
import pandas as pd

In [171]:
#Import the diabetes dataset
dataset = pd.DataFrame(pd.read_csv('/Users/rajeshsahu/Desktop/Lesson 8-2/pima-indians-diabetes.data'))

In [172]:
dataset

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [173]:
#Use the .NAMES file to view and set the features of the dataset
names = np.array(['Number of times pregnant','Plasma glucose concentration a 2 hours in an oral glucose tolerance test','Diastolic blood pressure (mm Hg)','Triceps skin fold','thickness (mm)','2-Hour serum insulin (mu U/ml)','Body mass index (weight in kg/(height in m)^2)','Diabetes pedigree function,Age (years)','Class variable (0 or 1)'])

In [174]:
#Use the feature names set earlier and fix it as the column headers of the dataset
dataset.columns = names

In [175]:
dataset

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold,thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),"Diabetes pedigree function,Age (years)",Class variable (0 or 1)
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

In [176]:
#View the number of observations and features of the dataset
print(len(dataset.values),len(dataset.columns))

767 9

In [177]:
dataset.dropna(inplace=True)
dataset.drop_duplicates()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold,thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),"Diabetes pedigree function,Age (years)",Class variable (0 or 1)
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

In [178]:
#Select features from the dataset to create the model
X_feature = dataset.drop('Class variable (0 or 1)',axis='columns')
X_feature = X_feature[['Plasma glucose concentration a 2 hours in an oral glucose tolerance test','2-Hour serum insulin (mu U/ml)','Body mass index (weight in kg/(height in m)^2)']]

In [179]:
X_feature.shape

(767, 3)

In [180]:
Y_target = dataset['Class variable (0 or 1)']

In [181]:
Y_target.shape

(767,)

In [182]:
X_feature = sc.fit_transform(X_feature)

In [183]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_feature,Y_target,test_size=0.25)

In [184]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(X_train,Y_train)

LogisticRegression()

In [185]:
Y_predict = logReg.predict(X_test)

In [188]:
#Evaluate the accuracy of your model
from sklearn.metrics import accuracy_score,average_precision_score,confusion_matrix,f1_score,recall_score
print("accuracy_score",accuracy_score(Y_test,Y_predict))
print("average_precision_score",average_precision_score(Y_test,Y_predict))
print("confusion_matrix\n",confusion_matrix(Y_test,Y_predict))
print("\nrecall_score",recall_score(Y_test,Y_predict))
print("\nf1_score",f1_score(Y_test,Y_predict))

accuracy_score 0.796875
average_precision_score 0.538528605015674
confusion_matrix
 [[116  18]
 [ 21  37]]

recall_score 0.6379310344827587

f1_score 0.6548672566371682

In [187]:
#Print the first 30 actual and predicted response
for i in range(0,Y_predict.size-1):
    print(list(Y_test)[i],list(Y_predict)[i])

0 0
0 0
0 0
0 0
1 1
0 0
1 1
0 0
1 1
1 1
0 0
0 0
1 1
1 1
0 0
0 0
1 0
0 0
1 0
0 0
1 0
1 1
0 0
0 0
0 0
1 1
1 0
0 0
0 0
0 0
1 0
1 0
0 0
0 0
1 0
1 0
0 0
1 0
0 0
0 0
1 0
0 0
1 1
1 1
1 0
0 0
0 0
0 0
0 0
0 0
0 0
1 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
1 1
1 1
0 0
1 1
0 0
0 0
0 0
0 1
0 1
1 1
0 0
0 0
1 1
0 0
0 0
0 0
1 1
0 1
0 1
1 0
0 0
1 1
0 0
0 0
0 0
0 1
0 0
0 0
1 1
1 1
0 0
0 0
0 0
1 1
0 0
0 0
1 0
0 1
0 0
0 0
1 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 1
0 0
0 0
0 0
0 0
1 1
0 0
0 0
0 0
0 0
0 0
0 0
0 0
1 0
0 1
0 0
0 0
1 1
0 0
0 0
1 0
1 1
1 1
0 1
0 0
0 0
1 1
0 0
0 0
0 0
0 1
0 1
0 0
0 0
0 0
0 0
0 1
0 0
1 1
0 1
1 1
0 0
1 1
0 0
1 0
1 1
1 0
0 0
0 1
1 0
0 0
0 0
0 0
1 1
1 1
0 0
0 1
0 0
0 0
0 0
1 1
0 0
0 0
0 0
1 1
0 0
0 1
1 0
0 0
0 0
0 0
0 0
1 1
1 1
0 0
0 0
0 0
0 1
0 0
0 0